# WordPress Core
wp-admin/
wp-includes/

# Configuración sensible
wp-config.php
wp-config-*.php

# Archivos generados automáticamente
*.log
debug.log
error_log

*.sqlite
*.zip
*.tar.gz

# Composer y Node
vendor/
node_modules/
npm-debug.log*
yarn-error.log

# Sistema operativo y herramientas comunes
.DS_Store
Thumbs.db
.idea/
.vscode/
*.bak
*.swp
*.tmp

# Archivos de Git
!.gitignore
